@use 'utilities/mq';
@use 'utilities/mixins';
@use 'utilities/vars' as vars;

.entry-content > :first-child {
  margin-top: 150px;
}
.entry-content > .wp-block-group {
  padding: vars.$gap-space;
}
.wp-block-columns {
  @include mq.for-tablet-portrait-up {
    flex-wrap: nowrap;
  }
}
.wp-block-column:nth-child(3):last-child {
  @include mq.for-tablet-portrait-up {
    margin-left: 2em;
  }
}
.wp-block-column, 
.wp-block-group {
  :first-child {
    margin-top: 0;
  }
}
.img-mob_full-tab_por_33_right {
  position: relative;
  max-height: 330px;
  overflow: hidden;
  @include mq.for-tablet-landscape-up {
    max-height: 590px;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include mixins.transparent-fade-out-bottom;
}
.entry-footer .edit-link{
  display: none;
}