@use 'utilities/mq';
@use 'utilities/mixins';
@use 'utilities/vars' as vars;

.offset-1 {
  @include mq.for-tablet-portrait-up {
    margin-left: vars.$col-1;
  }
}
.entry-content > :first-child,
.error404 .site-main > :first-child {
  margin-top: 150px;
}
.entry-content > * {
  margin-bottom: 10rem;
}
.entry-content > :last-child {
  margin-bottom: 0;
}
.entry-content,
.error404 .site-main {
  padding: vars.$gap-space;
}
body:not(.home) .entry-content > .wp-block-group > .wp-block-columns {
  @include mixins.default-page-margins;
}
.wp-block-columns {
  @include mq.for-tablet-portrait-up {
    flex-wrap: nowrap;
  }
}
.wp-block-column:nth-child(3):last-child {
  @include mq.for-tablet-portrait-up {
    margin-left: 2em;
  }
}
.wp-block-column, 
.wp-block-group {
  :first-child {
    margin-top: 0;
  }
}
.entry-content .fade-out-bottom {
  @include mixins.transparent-fade-out-bottom;
}
.entry-footer .edit-link{
  display: none;
}