@use 'utilities/vars' as vars;
@use 'utilities/mq';
@use 'utilities/mixins';

@font-face {
  font-family: "SyntheSans";
  src:  url("./assets/fonts/SyntheSans-Neutral.woff2") format("woff2"),
        url("./assets/fonts/SyntheSans-Neutral.woff") format("woff"),
        url("./assets/fonts/SyntheSans-Neutral.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: vars.$synth-blue;
  font-family: "SyntheSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin-bottom: 1em;
}
h1, h2{
  font-size: 31px;
  line-height: 85%;
  @include mq.for-tablet-portrait-up {
    font-size: 35px;
    line-height: .95;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 55px;
    margin-left: 10%;
    margin-right: 0;
  }
}
h2 {
  text-indent: 1em;
  &.has-text-align-center {
    text-indent: 0;
  }
}
h3 {
  font-size: 31px;
  line-height: .95;
  @include mq.for-tablet-portrait-up {
    font-size: 26px;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 36px;
  }
}
.wp-block-column > p,
.wp-block-column > blockquote,
.wp-block-column > blockquote p,
.wp-block-column > h1,
.wp-block-column > h2,
.wp-block-column > h3 {
  margin-left: 0;
  margin-right: 0;
}
p {
  margin-bottom: 1.5em;
  font-size: 18px;
  line-height: .94;
  @include mq.for-tablet-portrait-up {
    font-size: 22px;
    line-height: .97;
    margin-left: 15%;
    margin-right: 15%;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 36px;
    margin-left: 18%;
    margin-right: 0;
  }
}
.wp-block-column > p {
  font-size: 18px;
  line-height: .94;
  @include mq.for-tablet-landscape-up {
    font-size: 24px;
  }
}
.label {
  font-size: 26px;
  line-height: 1;
  margin-left: 0;
  @include mq.for-tablet-portrait-up {
    font-size: 20px;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 31px;
  }
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
big {
  font-size: 125%;
}
hr, .wp-block-separator {
  background-color: vars.$synth-blue;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
  .has-synthesis-blue-background-color & {
    background-color: white;
  }
}
.wp-block-separator + p + .wp-block-separator {
  margin-top: -.75em;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}
/* Links
--------------------------------------------- */
a {
  color: vars.$synth-blue;
}
a:visited {
  color: vars.$synth-blue;
}
a:hover,
a:focus,
a:active {
  color: vars.$synth-blue;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}