
@use 'wphead';
@use 'normalize';
@use 'typography';
@use 'form-elements';
@use 'layout';

@use 'components/navigation';
@use 'components/bg-gradients';
@use 'components/earlier-investments';
@use 'components/food-technologies';
@use 'components/newsletter-form';
@use 'components/testimonials';
@use 'components/image-gallery';
@use 'components/teammembers';
@use 'components/cookie-consent';
@use 'components/footer';

@use 'pages/home';
@use 'pages/posts-and-pages';
@use 'pages/focus';
@use 'pages/team';
@use 'accessibility';

body:after{
  visibility: hidden;
  position: fixed;
  content:  url(assets/img/button-bg-blue-fill.svg) 
            url(assets/img/button-bg-blue-outline.svg) 
            url(assets/img/button-bg-white-fill.svg) 
            url(assets/img/button-bg-white-outline.svg)
            url(assets/img/button-bg-green-fill.svg) 
            url(assets/img/button-bg-green-outline.svg);
 }