
@use 'wphead';
@use 'normalize';
@use 'typography';
@use 'form-elements';
@use 'layout';

@use 'components/navigation';
@use 'components/bg-gradients';
@use 'components/earlier-investments';
@use 'components/food-technologies';
@use 'components/newsletter-form';
@use 'components/footer';

@use 'pages/home';
@use 'pages/focus';
@use 'accessibility';

body:after{
  display:none;
  content:  url('assets/img/button-bg-blue-fill.svg') 
            url('assets/img/button-bg-blue-outline.svg') 
            url('assets/img/button-bg-white-fill.svg') 
            url('assets/img/button-bg-white-outline.svg')
            url('assets/img/button-bg-green-fill.svg') 
            url('assets/img/button-bg-green-outline.svg');
 }