@use 'vars' as vars;
@use 'mq';

@mixin poly-btn($btncolor:"blue", $border:"outline", $fontsize: 18px) {
  font-size: $fontsize;
  line-height: 0;
  // height: 48px;
  white-space: nowrap;
  padding: 0;
  position: relative;
  z-index: 1;
  text-decoration: none;
  background-color: transparent;
  display: inline-block;
  @if $border == "outline" and $btncolor == "blue" {
    color: vars.$synth-blue;
  } @else if $border == "outline" and $btncolor == "green" {
    color: vars.$neon-green;
  } @else if $border == "fill" and $btncolor == "green" {
    color: vars.$synth-blue;
  } @else if $border == "fill" and $btncolor == "white" {
    color: vars.$synth-blue;
  } @else {
    color: white
  }
  border: 24px solid #FFF;
  border-image: url('./assets/img/button-bg-#{$btncolor}-#{$border}.svg') 49% 23 fill;
  opacity: 0;
  animation: quickfadein .4s ease-in-out .2s forwards;
}
@keyframes quickfadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@mixin transparent-fade-out-bottom {

}
@mixin hideScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
  }
}
@mixin default-page-margins {
  max-width: 100%;
  @include mq.for-tablet-portrait-up {
    max-width: 66.66vw;
  }
  @include mq.for-desktop-up {
    max-width: 1100px;
  }
}
