@use 'vars' as vars;
@use 'mq';

@mixin poly-btn($btncolor:"blue", $border:"outline", $fontsize: 18px) {
  font-size: $fontsize;
  line-height: 0;
  padding: 2px 0 0 0;
  position: relative;
  z-index: 1;
  text-decoration: none;
  background-color: transparent;
  display: block;
  @if $border == "outline" and $btncolor == "blue" {
    color: vars.$synth-blue;
  } @else if $border == "outline" and $btncolor == "green" {
    color: vars.$neon-green;
  } @else if $border == "fill" and $btncolor == "green" {
    color: vars.$synth-blue;
  } @else if $border == "fill" and $btncolor == "white" {
    color: vars.$synth-blue;
  } @else {
    color: white
  }
  border-style: solid;
  border-width: 23px ;
  border-image: url('./assets/img/button-bg-#{$btncolor}-#{$border}.svg') 49% 23 fill;
  opacity: 0;
  animation: quickfadein 1s ease-in forwards;
}

@keyframes quickfadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@mixin transparent-fade-out-bottom {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 95%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 95%);
}

@mixin hideScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
  }
}