@use '../utilities/mq';
@use '../utilities/vars';
@use '../utilities/mixins';

.cc-window {
  background-color: vars.$pink;
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(0) scale(1);
  transition: .5s transform cubic-bezier(.82,.1,.56,.93);
  padding: 2em 4em;
  @include mq.for-phone-only {
    padding: 2em vars.$gap-space;
  }
}
.cc-window.cc-invisible {
  transform: translateY(100%) scale(.8);
}
.cc-compliance {
  text-align: right;
  align-self: end;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  @include mq.for-phone-only {
    flex-direction: column;
  }
  & > * {
   align-self: flex-end; 
  }
}
.cc-btn {
  @include mixins.poly-btn('white', 'fill');
  cursor: pointer;
  transform: scale(1);
  margin-right: .5em;
  transition: .1s transform ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.cc-btn.cc-allow {
  @include mixins.poly-btn('green', 'fill');
}
.cc-message {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include mq.for-tablet-landscape-up {
    font-size: 21px;
  }
}
.cc-link {
  @include mixins.poly-btn('white', 'fill');
  display: inline;
  margin-top: 1em;
  transition: .1s transform ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.cc-revoke {
  cursor: pointer;
}