@use '../utilities/mq';
@use '../utilities/vars' as vars;

.scrolling-flex-container {
  padding: 0!important;
  margin-bottom: 8em;
  margin-left: - vars.$gap-space;
  margin-right: - vars.$gap-space;
  position: relative;
}
.showNavBtns .sideScroll-scroller-nav-scrollNext,
.showNavBtns .sideScroll-scroller-nav-scrollPrev {
  display: block;
  @include mq.for-touch-only {
   display: none; 
  }
}
.sideScroll-scroller-nav-scrollNext,
.sideScroll-scroller-nav-scrollPrev {
  display: none;
  width: 40px;
  height: 40px;
  background: white url('./assets/icons/arrow.svg') no-repeat 50% 50%;
  background-size: 60%;
  position: absolute;
  top: 25%;
  right: 0;
  left: auto;
  border-radius: 5px;
}
.scroll-gallery .sideScroll-scroller-nav-scrollPrev,
.food-technologies + .sideScroll-scroller-nav-scrollNext + .sideScroll-scroller-nav-scrollPrev {
  left: vars.$gap-space
}
.scroll-gallery .sideScroll-scroller-nav-scrollNext,
.food-technologies + .sideScroll-scroller-nav-scrollNext {
  left: auto;
  right: vars.$gap-space
}
.sideScroll-scroller-nav-scrollPrev {
  right: auto;
  left: 0;
  transform: scaleX(-1);
}
.food-technologies {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.food-technologies::-webkit-scrollbar {
  display: none;
}
.food-technology {
  scroll-snap-align: center;
  flex-basis: calc(217px + 2em);
  flex-shrink: 0;
  flex-grow: 0;
  padding-right: 1em;
  @include mq.for-tablet-portrait-up {
    flex-basis: calc(175px + 2em);
  }
  @include mq.for-tablet-landscape-up {
    flex-basis: calc(217px + 2em);
  }
}
.food-technology:first-child {
  padding-left: 3em;
  flex-basis: calc(217px + 5em);
  @include mq.for-tablet-portrait-up {
    flex-basis: calc(175px + 5em);
  }
  @include mq.for-tablet-landscape-up {
    padding-left: calc(#{vars.$col-1} + #{vars.$gap-space});
    flex-basis: calc(217px + #{vars.$col-1} + ( 2 * #{vars.$gap-space} ));
  }
}
.food-technology > .wp-block-image {
  width: 100%;
  height: 217px;
  -webkit-mask-image: url('assets/img/img-mask-polygon.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('assets/img/img-mask-polygon.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  @include mq.for-tablet-portrait-up {
    height: 175px;
  }
  @include mq.for-tablet-landscape-up {
    height: 217px;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.food-technology hr, .food-technology .wp-block-separator {
  background-color: vars.$synth-blue;
}
.food-technology-title{
  margin: 0 0 .65em 0;
  font-size: 16px;
  line-height: .95;
  @include mq.for-tablet-portrait-up {
    font-size: 13px;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 16px;
  }
}
.food-technology-icons {
  display: flex;
  & .wp-block-image {
    width: 25px;
    & img, & svg {
      width: 100%;
      height: auto;
    }
  }
}