@use '../utilities/mq';
@use '../utilities/vars' as vars;

.food-technologies {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.food-technologies::-webkit-scrollbar {
  display: none;
}
.food-technology {
  scroll-snap-align: center;
  flex-basis: calc(217px + 2em);
  flex-shrink: 0;
  flex-grow: 0;
  padding-right: 1em;
  @include mq.for-tablet-portrait-up {
    flex-basis: calc(175px + 2em);
  }
  @include mq.for-tablet-landscape-up {
    flex-basis: calc(217px + 2em);
  }
}
.food-technology:first-child {
  padding-left: 3em;
  flex-basis: calc(217px + 5em);
  @include mq.for-tablet-portrait-up {
    flex-basis: calc(175px + 5em);
  }
  @include mq.for-tablet-landscape-up {
    padding-left: 24%;
    flex-basis: calc(217px + 2em + 24%);
  }
}
.food-technology .wp-block-image {
  width: 100%;
  height: 217px;
  -webkit-mask-image: url('assets/img/img-mask-polygon.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('assets/img/img-mask-polygon.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  @include mq.for-tablet-portrait-up {
    height: 175px;
  }
  @include mq.for-tablet-landscape-up {
    height: 217px;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.food-technology hr, .food-technology .wp-block-separator {
  background-color: vars.$synth-blue;
}
.food-technology-title{
  margin: 0 0 .65em 0;
  font-size: 16px;
  line-height: .95;
  @include mq.for-tablet-portrait-up {
    font-size: 13px;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 16px;
  }
}
.food-technology-icons {
  display: flex;
  & .wp-block-image {
    width: 25px;
    & img, & svg {
      width: 100%;
      height: auto;
    }
  }
}