@use '../utilities/mq';
@use '../utilities/vars';
@use '../utilities/mixins';

.scroll-gallery {
  margin-left: - vars.$gap-space;
  margin-right: - vars.$gap-space;
  & .blocks-gallery-grid,
  & .wp-block-gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 1em;
    @include mixins.hideScrollBar;
  }
  &.wp-block-gallery .blocks-gallery-item {
    scroll-snap-align: center;
    align-self: baseline;
    width: auto;
    flex-basis: 66.6%;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    @include mq.for-tablet-portrait-up {
      flex-basis: 25%;
    }
    &:first-child {
      flex-basis: calc(66.6% + vars.$gap-space);
      padding-left: vars.$gap-space;
      @include mq.for-tablet-portrait-up {
        scroll-snap-align: start;
        flex-basis: 45%;
        padding-left: 20%;
      }
    }
    &:last-child {
      flex-basis: calc(66.6% + vars.$gap-space);
      padding-right: vars.$gap-space;
    }
    @include mixins.transparent-fade-out-bottom;
  }
  & .blocks-gallery-grid .blocks-gallery-image img, 
  & .blocks-gallery-grid .blocks-gallery-item img, 
  & .wp-block-gallery .blocks-gallery-image img, 
  & .wp-block-gallery .blocks-gallery-item img {
    width: 100%;
  }
}