@use '../utilities/vars' as vars;
@use '../utilities/mq';
@use '../utilities/mixins';

.investment-portfolio {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  margin-left: 0;
  margin-bottom: 2em;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  @include mq.for-tablet-landscape-up {
    margin-bottom: 4em;
  }
  &::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
  }
}
.investment-portfolio-piece {
  scroll-snap-align: start;
  flex-basis: calc(100% - 30px);
  flex-shrink: 0;
  padding-left: vars.$gap-space ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 1.5em;
  row-gap: 1.5em;
  grid-column-gap: 1.5em;
  column-gap: 1.5em;
  @include mq.for-tablet-landscape-up {
    scroll-snap-align: center;
    flex-basis: calc( 100vw - #{vars.$col-2});
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 2em;
    row-gap: 2em;
    grid-column-gap: 2em;
    column-gap: 2em;
  }
  &:first-child {
    padding-left: vars.$gap-space;
    @include mq.for-tablet-landscape-up {
      flex-basis: calc(100vw - #{vars.$col-1} - #{vars.$gap-space} );
      padding-left: calc( #{vars.$col-1} ); 
    }
  }
  &:last-child {
    padding-right: vars.$gap-space;
  }
}
.investment-portfolio-piece .wp-block-image {
    margin: 0;
  }
.investment-portfolio-piece p {
  font-size: 18px;
  @include mq.for-tablet-landscape-up {
    font-size: 19px;
  }
}
.investment-portfolio-piece img, 
.investment-portfolio-piece svg {
  max-width: 100%;
  height: auto;
}
.investment-portfolio-piece-image {
  grid-column: 1 / span 2;
  grid-row: 1 / 1;
  border-bottom: 1px solid vars.$synth-blue;
  @include mq.for-tablet-landscape-up {
    grid-column: 1 / span 3;
  }
}
.investment-portfolio-piece-image .wp-block-image img {
  width: 100%;
  @include mixins.transparent-fade-out-bottom;
}
.investment-portfolio-piece-logo {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  @include mq.for-tablet-landscape-up {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
}
.investment-portfolio-piece-logo .wp-block-image {
  @include mq.for-tablet-landscape-up {
    max-width: 144px;
  }
}
.investment-portfolio-piece-description {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
  @include mq.for-tablet-landscape-up {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }
}
.investment-portfolio-piece-factsheet {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  @include mq.for-tablet-landscape-up {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}
.investment-portfolio-piece-factsheet p {
  font-size: 16px;
  @include mq.for-tablet-landscape-up {
    font-size: 18px;
  }
}
.investment-portfolio-piece-tech-icons {
  display: flex;
  grid-column: 1 / span 2;
  grid-row: 3 / 3;
  border-bottom: 1px solid vars.$synth-blue;
  @include mq.for-tablet-landscape-up {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
  }
}
.investment-portfolio-piece-tech-icons > * {
  width: 32px;
  height: auto;
}
.investment-logo {
  & svg path {
    fill: vars.$synth-blue;
  }
}

//Exception Home page
.home .investment-portfolio-piece {
  grid-template-columns: 1fr 1fr;
  @include mq.for-tablet-landscape-up {
    flex-basis: vars.$col-4;
  }
  &:first-child {
    @include mq.for-tablet-landscape-up {
      flex-basis: calc( #{vars.$col-5} - #{vars.$gap-space} );
    }
  }
  & .investment-portfolio-piece-description {
    display: none;
  }
  & .investment-portfolio-piece-factsheet {
    grid-column: 2/2;
  }
}