@use '../utilities/mq';
@use '../utilities/vars' as vars;
@use '../utilities/mixins';

#primary-menu {
  display: none;
  @include mq.for-tablet-portrait-up {
    display: flex;
  }
}
.nav-toggled {
  & #primary-menu {
    @include mq.for-phone-only {
      display: block;
      margin-top: 2px;
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      padding-left: 12.5vw;
      padding-right: 12.5vw;
      padding-top: 100px;
      // background-color: white;
      & a {
        width: 100%;
        text-align: center;
      }
    }
  }
}
.site-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: vars.$gap-space;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.site-header .logo {
  display: inline-block;
  overflow: auto;
  width: 140px;
  height: 58px;
  position: relative;
}
.site-header .logo svg {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0;
}

// Nav List
ul.nav-menu {
  list-style: none;
  display: flex;
  transform: translateY(0%);
  transition: transform .2s ease-out;
  & li {
    display: block;
  }
}

.nav-hidden ul.nav-menu {
  @include mq.for-tablet-portrait-up{
    transform: translateY(-200%);
  }
}

ul.nav-menu a,
.menu-toggle {
  transform: scale(1);
  transition: transform .05s linear;
  margin-right: .25em;
  @include mixins.poly-btn("white", "fill");
  @include mq.for-phone-only {
    @include mixins.poly-btn("blue", "outline" );
    margin-bottom: .33em;
  }
}
ul.nav-menu .current_page_item a {
  @include mixins.poly-btn("blue", "fill" );
}
ul.nav-menu a:hover,
.menu-toggle:hover {
  @include mixins.poly-btn("green", "fill" )
}
ul.nav-menu .current_page_item a:hover {
  @include mixins.poly-btn("blue", "fill" );
}
.nav-toggled .menu-toggle {
  @include mixins.poly-btn('pink', 'fill');
  color: vars.$synth-blue;
}
.menu-toggle,
.home .menu-toggle {
  @include mq.for-tablet-portrait-up {
    display: none;
  }
}