@use '../utilities/mq';
@use '../utilities/mixins';
@use '../utilities/vars' as vars;

.synthesis-newsletter-subscribe {
  transition: color 1.5s ease-in-out;
  padding: vars.$gap-space;
  
  [class*="bluesection-"] & {
    color: white;
  }
  
  margin: 2em auto 6em;
  @include mq.for-tablet-portrait-up {
    max-width: 66.6%;
  } 
  & form {
    display: flex;
    gap: .25em;
    max-width: 700px;
    margin: 0 auto;
  } 
  & input {
    @include mixins.poly-btn('blue', 'outline');  
    text-align: left;
    @include mq.for-tablet-landscape-up {
      font-size: 24px;
    }
    &:focus {
      outline: none;
      color: vars.$synth-blue;
    }
  }
  & p {
    max-width: 12em;
    margin-left: auto;
    margin-right: auto;
  }
  & .wp-block-button {
    margin: 0;
  }
  & .wp-block-button__link { 
    @include mixins.poly-btn("pink", "fill");
    line-height: 1;
    padding-left: 1.5em;
    padding-right: 1.5em;
    @include mq.for-tablet-landscape-up {
      font-size: 24px;
    }
    color: vars.$synth-blue;
  }
}
