@use '../utilities/mq';
@use '../utilities/mixins';
@use '../utilities/vars' as vars;

.synthesis-newsletter-subscribe {
  transition: color 1.5s ease-in-out;
  padding: vars.$gap-space;
  
  margin: 2em auto 6em;
  @include mq.for-tablet-portrait-up {
    max-width: 66.6%;
  } 
  & form {
    position: relative;
    @include mq.for-tablet-portrait-up {
      display: flex;
      gap: .25em;
      max-width: 700px;
      margin: 0 auto;
    }
  } 
  & p {
    max-width: 12em;
    margin-left: auto;
    margin-right: auto;
  }
  & input[type="email"]{
    flex-basis: 70%;
    align-self: center;
  }
  & .wp-block-buttons {
    flex-basis: 30%;
    align-self: center;
  }
  & .wp-block-button {
    margin: 0;
    @include mq.for-phone-only {
      margin: .25em 0 0 auto!important;
    }
    @include mq.for-tablet-portrait-up {
      width: 100%;
    }
  }
  & .wp-block-button__link { 
    @include mixins.poly-btn("pink", "fill");
    padding-left: 1.5em;
    padding-right: 1.5em;
    @include mq.for-tablet-portrait-up {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      height: 18px;
    }
    @include mq.for-tablet-landscape-up {
      font-size: 24px;
      height: 24px;
    }
    color: vars.$synth-blue;
    &:hover, &:visited:hover {
      @include mixins.poly-btn("blue", "fill");
      color: white;
      padding-left: 1.5em;
      padding-right: 1.5em;
      @include mq.for-tablet-portrait-up {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: 18px;
      }
      @include mq.for-tablet-landscape-up {
        font-size: 24px;
        height: 24px;
      }
    }
  }
}
.fake-text-input-bg {
  @include mixins.poly-btn("white", "fill");
  position: absolute;
  z-index: 0;
  width: 100%;
  @include mq.for-tablet-landscape-up {
    width: 70%;
  }
}