@use '../utilities/mq';
@use '../utilities/vars';
@use '../utilities/mixins';

.team-teammembers {
  // padding: vars.$gap-space;
  @include mq.for-tablet-portrait-up {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-teammember {
  margin-bottom: 3em;
  @include mq.for-tablet-portrait-up {
    margin-left: 2em;
    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }
  @include mq.for-desktop-up {
    margin-left: 4em;
  }
  & p {
    margin: 0 0 .5em 0;
    font-size: 18px;
    @include mq.for-tablet-landscape-up {
      font-size: 21px;
    }
  }
  @include mq.for-tablet-portrait-up {
    flex-basis: calc( 33.3% - 1.333em);
  }
  @include mq.for-desktop-up {
    flex-basis: calc( 33.3% - 2.666em);
  }
  & .wp-block-image {
    @include mixins.transparent-fade-out-bottom;
    margin-bottom: 0;
  }
}
.team-teammember-title, 
.team-teammember-quote, 
.team-teammember-vita {
  margin-bottom: 2em;
}
.team-teammember-title, 
.team-teammember-quote {
  & p {
    font-size: 22px;
    @include mq.for-tablet-portrait-up {
      font-size: 26px;
    }
  }
}
.team-teammember-title {
  & p {
    margin-bottom: 0;
  }
  & p + p {
    opacity: .5;
  }
}
.team-teammember-vita {
  & p:first-child {
    text-indent: 1em;
  }
}
.team-teammember-sociallinks {
  & p {
    margin-bottom: 0.5em;
  }
  & a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    &::after {
      content: "↙";
      font-family: "SyntheSans", sans-serif;
      position: absolute;
      transform: scaleX(-1) translate(0, 0);
      transition: transform .2s ease-in-out;
      left: calc(100% + .25em);
      top: 0;
    }
    &:hover::after {
      transform: scaleX(-1) translate(-2px, 2px);
    }
  }
}