@use '../utilities/mq';
@use '../utilities/vars';
@use '../utilities/mixins';

.team-teammembers {
  // padding: vars.$gap-space;
  @include mq.for-tablet-portrait-up {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-teammember {
  margin-bottom: 3em;
  @include mq.for-tablet-portrait-up {
    margin-left: vars.$gap-space;
    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }
  // @include mq.for-desktop-up {
  //   margin-left: 4em;
  // }
  & p {
    margin: 0 0 .5em 0;
    font-size: 22px;
    @include mq.for-tablet-landscape-up {
      font-size: 26px;
    }
  }
  @include mq.for-tablet-portrait-up {
    flex-basis: calc( 33.3% - 1.333em);
  }
  @include mq.for-desktop-up {
    flex-basis: calc( 33.3% - 2.666em);
  }
  & .wp-block-image {
    @include mixins.transparent-fade-out-bottom;
    margin-bottom: 0;
  }
}
.team-teammember-title, 
.team-teammember-quote, 
.team-teammember-vita {
  margin-bottom: 2em;
}
.team-teammember-title, 
.team-teammember-quote {
  & p {
    font-size: 22px;
    @include mq.for-tablet-portrait-up {
      font-size: 26px;
    }
  }
}
p.team-teammember-quote {
  margin: 2rem 0;
  opacity: 1;
}
.team-teammember-title {
    opacity: .5;
}
.team-teammember-button {
  @include mixins.poly-btn('green', 'fill');
  font-size: 20px;
  padding-left: 1em;
  padding-right: 1em;
  @include mq.for-tablet-portrait-up {
    font-size: 24px;
  }
  &:hover, &:focus {
    @include mixins.poly-btn('pink', 'fill');
    color: vars.$synth-blue;
    font-size: 20px;
    padding-left: 1em;
    padding-right: 1em;
    @include mq.for-tablet-portrait-up {
      font-size: 24px;
    }
  }
}
.team-teammember-vita {
  & p:first-child {
    text-indent: 1em;
  }
}
.team-teammember-sociallinks {
  & p {
    margin-bottom: 0.5em;
  }
  & a {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
}