@use '../utilities/vars' as vars;
@use '../utilities/mq';

.testimonials {
  & p {
    font-size: 21px;
    line-height: 1;
    @include mq.for-tablet-landscape-up {
      font-size: 26px;
    }
  }
  & p:first-child {
    text-indent: 1em;
  }
}
.testimonials-masonry {
  @include mq.for-tablet-portrait-up {
    display: flex;
    flex-wrap: wrap;
    gap: vars.$col-1;
    margin-left: vars.$col-1;
  }
}
.testimonial {
  width: 75%;
  margin-bottom: 2em;
  @include mq.for-tablet-portrait-up {
    width: auto;
    flex-basis: calc(33.3% - .666em);
    margin-bottom: 4em;
  }
}
.testimonial:nth-child(2n),
.testimonial:nth-child(4n) {
  margin-left: 25%;
  @include mq.for-tablet-portrait-up {
    margin: 0 0 4em 0;
  }
}
.testimonial:nth-child(6n+3) {
  @include mq.for-tablet-portrait-up {
    margin-left: vars.$col-1 * 2;
    margin-right: 0;
  }
}
.testimonial-preacher-columns {
  display: flex;
  gap: 1em;
  align-items: center;
  & .wp-block-image {
    flex-basis: 15%;
    -webkit-mask-image: url(assets/img/img-mask-polygon.svg);
    -webkit-mask-size: contain;
    mask-image: url(assets/img/img-mask-polygon.svg);
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    margin-bottom: 0;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  & p {
    flex-basis: 70%;
    font-size: 16px;
    line-height: 1;
    margin: 0;
  }
}