@use '../utilities/vars' as vars;
@use '../utilities/mq';
@use '../utilities/mixins';
@use '../typography';

h1, h2 {
  font-size: 31px;
  line-height: 85%;
  text-indent: 1em;
  @include mq.for-tablet-portrait-up {
    font-size: 35px;
    line-height: .95;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 55px;
  }
}
.entry-content > h1,
.entry-content > h2,
.entry-content > .wp-block-group > h1, 
.entry-content > .wp-block-group > h2 {
  @include mq.for-tablet-portrait-up {
    max-width: 85%;
  }
  @include mq.for-tablet-portrait-up {
    max-width: 66.666%;
  }
}
p {
  margin-bottom: 1.5em;
  font-size: 18px;
  line-height: .94;
  @include mq.for-tablet-portrait-up {
    font-size: 22px;
    line-height: .97;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 36px;
  }
}
.entry-content > p,
.entry-content > .wp-block-group > p {
  @include mq.for-tablet-portrait-up {
    max-width: 66.666%;
  }
}
.wp-block-column {
  h1, h2, p {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.label {
  font-size: 26px;
  line-height: 1;
  @include mq.for-tablet-portrait-up {
    font-size: 20px;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 31px;
  }
}
.wp-block-button__link {
  border: none;
  cursor: pointer;
  @include mixins.poly-btn("green", "fill", 15px);
  @include mq.for-tablet-landscape-up {
    font-size: 24px;
  }
}
.synthesis-newsletter-subscribe .wp-block-button__link { 
  @include mixins.poly-btn("pink", "fill");
  padding-left: 2em;
  padding-right: 2em;
  @include mq.for-tablet-landscape-up {
    font-size: 24px;
  }
  color: vars.$synth-blue;
}

@mixin blocklabel($blocklabelname) {
  border: 2px solid rgb(0, 174, 255);
  padding: 16px 10px 10px 10px;
  border-radius: 5px;
  &::before {
    content: $blocklabelname;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 174, 255);
    color: #FFF;
    padding: 2px 5px;
    border-radius: 0 0 3px 0;
    z-index: 4;
  }
}

.wp-block-group {
  @include blocklabel('Section Group');
  padding: vars.$gap-space;
  margin-bottom: 1em;
}
.wp-block-group.has-synthesis-blue-background-color {
  @include blocklabel('Section Group Blue Background')
}
.wp-block-group.hero-home {
  @include blocklabel('Home Hero')
}
.img-mob_full-tab_por_33_right {
  @include blocklabel('Image 100% on mobile, 33% on tablet')
}
.synthesis-newsletter-subscribe {
  @include blocklabel('Newsletter Subscription');
}
.home-synthesis-icons {
  @include blocklabel('Home Synthesis icons');
  &::after {
    content: '';
    display: block;
    position: relative;
    clear: both;
  }
}
.has-synthesis-blue-background-color .synthesis-icon img { 
  filter: brightness(100);
} 
.food-technologies {
  @include blocklabel('Food Technologies');
  display: flex;
}
.food-technology {
  flex-basis: 33.3%;
  @include blocklabel('Tech');
}
.food-technology-title{
  margin: 0;
  font-size: 16px;
  line-height: .95;
  @include mq.for-tablet-portrait-up {
    font-size: 13px;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 16px;
  }
}
.food-technology-icons {
  @include blocklabel('Food Tech Icons');
  display: flex;
}
.focus-protein-spectrum {
  @include blocklabel('Protein Spectrum');
  display: flex;
}
.focus-protein-spectrum-column {
  @include blocklabel('Protein Spectrum Column');
  flex-basis: 25%;
  & p {
    margin: 0;
    padding: .5em 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
  }
  & .wp-block-image {
    text-align: center;
    & img {
      filter: brightness(100);
    }
  }
}
.focus-enabling-technologies {
  @include blocklabel('focus-enabling-technologies');
}
.focus-enabling-technologies-table {
  @include blocklabel('focus-enabling-technologies-table');
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.focus-enabling-technologies-item {
  @include blocklabel('focus-enabling-technologies-item');
  padding: .5em 1.5em .5em 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  position: relative;
  &::after {
    content: '↙';
    font-family: "SyntheSans", sans-serif;
    position: absolute;
    transform: scaleX(-1);
    right: 0;
    top: .5em;
  }
}
//Testimonials
.testimonials {
  @include blocklabel('testimonials');
  display: flex;
  flex-wrap: wrap;
  & blockquote {
    margin: 0;
  }
  & p {
    margin: 0;
    font-size: 21px;
    line-height: 1;
    @include mq.for-tablet-landscape-up {
      font-size: 26px;
    }
  }
}
.testimonial {
  @include blocklabel('testimonial');
  flex-basis: 33%;
}
.testimonial-preacher-columns {
  @include blocklabel('testimonial-giver');
  display: flex;
  gap: 1em;
  align-items: center;
  & .wp-block-image {
    flex-basis: 30%;
    mask-image: url(assets/img/img-mask-polygon.svg);
    mask-size: contain;
  }
  & p {
    flex-basis: 70%;
    font-size: 16px;
    line-height: 1;
  }
}

//teammembers
.team-teammembers {
  @include blocklabel('Team Members');
  display: flex;
}
.team-teammember {
  @include blocklabel('Team Member');
  flex-basis: 33.3%;
}
.team-teammember-title {
  @include blocklabel('title');
  & p {
    font-size: 1rem;
    margin: 0 0 1em 0;
  }
}
.team-teammember-quote {
  @include blocklabel('quote');
  margin: 0 0 1em 0;
  & p {
    font-size: 1rem;
    margin: 0 0 1em 0;
  }
}
.team-teammember-vita {
  @include blocklabel('Vita');
  & p {
    font-size: 1rem;
    margin: 0 0 1em 0;
  }
}
.team-teammember-sociallinks {
  @include blocklabel('Links');
  & p {
    font-size: 1rem;
    margin: 0 0 1em 0;
  }
}
.scroll-gallery {
  @include blocklabel('Scroll-gallery');
  display: flex; 
}