@use '../utilities/mixins';
@use '../utilities/mq';
@use '../utilities/vars' as vars;

.blog-header {
  margin-top: 150px;
  max-width: 100%;
}
.blog {
  & .articles {
    @include mq.for-tablet-landscape-up {
      margin-left: 16.666%;
      margin-right: 8.333%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  & article {
    margin-bottom: 4em;    
    @include mq.for-tablet-landscape-up {
      flex-basis: calc(45.8333%);
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  & article:nth-child(3n + 1){
    @include mq.for-tablet-landscape-up {
      flex-basis: 100%;
    }
  }
  & .entry-footer,
  & .entry-content,
  & .post-thumbnail,
  & .entry-header  {
    padding: 0;
    & p, & h1, & h2, & h3, & h4 {
      margin-left: 0;
    }
  }
  & .entry-title {
    margin: .25em 0;
  }
  & .entry-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
    & > * {
      align-self: flex-start;
    }
    & .byline {
      line-height: 1;
      & .author {
        display: block;
      }  
    }
    & .posted-on {
      line-height: 1;
      & .updated {
        display: none;
      }
    }
    & a {
      text-decoration: none;
      pointer-events: none;
    }
  }
  & .entry-content {
    & p {
      font-size: 18px;
      @include mq.for-tablet-landscape-up {
        font-size: 21px;
      }
    }
    & :first-child{
      margin-top: 2em;
    }
    & .wp-block-image {
      position: relative;
    }
    & .wp-block-image figcaption {
      position: absolute;
      bottom: 1em;
      right: 1em;
      text-align: right
    }
    & .wp-block-image img{
      width: 100%;
      @include mixins.transparent-fade-out-bottom;
    }
  }
}
.post-thumbnail {
  display: block;
  & img {
    width: 100%;
    @include mixins.transparent-fade-out-bottom;
  }
}