@use '../utilities/mixins';
@use '../utilities/mq';
@use '../utilities/vars' as vars;

body.blog {
  & h1, & h2, & h3, & p {
    @include mq.for-phone-only {
      padding: 0 vars.$gap-space;
    }  
  }
}
.blog-header {
  margin-top: 150px;
}
.blog {
  & .entry-footer,
  & .entry-content,
  & .post-thumbnail,
  & .entry-header  {
    @include mq.for-tablet-portrait-up {
      margin-left: 15%;
      margin-right: 8%;
    }
    @include mq.for-tablet-landscape-up {
      margin-left: 18%;
      margin-right: 8%;
    }
    & p, & h1, & h2, & h3, & h4 {
      margin-left: 0;
    }
  }
  & .entry-title {
    margin: .25em 0;
  }
  & .entry-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
    & > * {
      align-self: flex-start;
    }
    & .byline {
      line-height: 1;
      & .author {
        display: block;
      }  
    }
    & .posted-on {
      line-height: 1;
      & .updated {
        display: none;
      }
    }
    & a {
      text-decoration: none;
      pointer-events: none;
    }
  }
  & .entry-content {
    & :first-child{
      margin-top: 2em;
    }
    & .wp-block-image {
      position: relative;
    }
    & .wp-block-image figcaption {
      position: absolute;
      bottom: 1em;
      right: 1em;
      text-align: right
    }
    & .wp-block-image img{
      width: 100%;
      @include mixins.transparent-fade-out-bottom;
    }
  }
}
.post-thumbnail {
  display: block;
  & img {
    width: 100%;
    @include mixins.transparent-fade-out-bottom;
  }
}