@use '../utilities/mixins';
@use '../utilities/mq';
@use '../utilities/vars' as vars;

.blog-header {
  margin-top: 150px;
  max-width: 100%;
  @include mq.for-tablet-landscape-up {
    max-width: calc( 100% - #{vars.$col-2} );
  }
}
.blog,
.archive {
  & .articles {
    @include mq.for-tablet-landscape-up {
      margin-right: vars.$col-2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  & article {
    margin-bottom: 4em;    
    @include mq.for-tablet-landscape-up {
      flex-basis: calc(45.8333%);
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  & article:nth-child(3n + 1){
    @include mq.for-tablet-landscape-up {
      flex-basis: 100%;
    }
  }
  & .entry-footer,
  & .entry-content,
  & .post-thumbnail,
  & .entry-header  {
    padding: 0;
    & p, & h1, & h2, & h3, & h4 {
      margin-left: 0;
    }
  }
  & .entry-meta {
    margin-bottom: 1rem;
    font-size: 16px;
  }
  & .entry-title {
    margin: .25em 0;
    font-size: 22px;
    @include mq.for-tablet-landscape-up {
      font-size: 35px;
    }
  }
  & article:nth-child(3n + 1) .entry-meta {
    @include mq.for-tablet-landscape-up {
      margin-bottom: 0;
      font-size: 22px;
      text-align: right;
    }
  }
  & .entry-header {
    margin-bottom: .5em;
    & .byline {
      line-height: 1;
      & .author {
        display: block;
      }  
    }
    & .posted-on {
      line-height: 1;
      & .updated {
        display: none;
      }
    }
    & a {
      text-decoration: none;
      pointer-events: none;
    }
  }
  & article:nth-child(3n + 1) .entry-header {
    @include mq.for-tablet-landscape-up {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    & > * {
      @include mq.for-tablet-landscape-up {
        align-self: flex-end;
      }
    }
  }
  & .entry-content {
    @include mq.for-tablet-landscape-up {
      display: flex;
      gap: 2em;
      justify-content: space-between;
    }
    & > * {
      align-self: flex-start;
      margin-top: 1em;
    }
    & p {
      font-size: 18px;
      @include mq.for-tablet-landscape-up {
        font-size: 21px;
      }
    }
    & .wp-block-image {
      position: relative;
    }
    & .wp-block-image figcaption {
      position: absolute;
      bottom: 1em;
      right: 1em;
      text-align: right
    }
    & .wp-block-image img{
      width: 100%;
      @include mixins.transparent-fade-out-bottom;
    }
  }
}
.archive .page-header {
  margin-top: 150px;
}
.post-thumbnail {
  display: block;
  & img {
    width: 100%;
    @include mixins.transparent-fade-out-bottom;
  }
  @include mq.for-tablet-landscape-up {
    overflow: hidden;
    height: 665px;
    & img {
      height: 100%;
      object-fit: cover;
    }
  }
}
.blog-tags {
  font-size: 16px;
  margin-bottom: 1.5em;
  @include mq.for-tablet-landscape-up {
    font-size: 18px;
  }
}
.blog-tags-title {
  display: block;
}
.blog-tags-tag {
  text-decoration: none;
  margin-right: .33em;
  opacity: .3;
  &.active-tag {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
}