@use '../utilities/mq';
@use '../utilities/vars';
@use '../utilities/mixins';

.focus-page .entry-content {
  width: 100vw;
  overflow: hidden;
}
.focus-page h1 + p {
  @include mixins.transparent-fade-out-bottom;
  padding-bottom: .5em;
}

.focus-protein-spectrum {
  // @include mixins.transparent-fade-out-bottom;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 4em;
  @include mq.for-tablet-portrait-up {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: vars.$col-1;
    margin-right: vars.$col-1;
  }
  @include mq.for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: vars.$col-1;
    margin-right: vars.$col-1;
  }
  @include mq.for-desktop-up {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.focus-protein-spectrum + h2 {
  margin-top: 4em;
}

.focus-protein-spectrum-column {
  flex-basis: calc(25% + 1em);
  padding: 0 .5em;
  @include mq.for-tablet-portrait-up {
    flex-basis: calc(15% + 2em);
  }
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  & p {
    font-size: 11px;
    margin: 0;
    padding: .5em 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    @include mq.for-tablet-portrait-up {
      font-size: 17px;
    }
    @include mq.for-tablet-landscape-up {
      font-size: 31px;
    }
  }
  & .wp-block-image {
    width: 32px;
    margin-left: auto;
    margin-right: auto;
    @include mq.for-tablet-portrait-up {
      width: 45px;
    }
    @include mq.for-tablet-landscape-up {
      width: 75px;
    }
    & img, & svg {
      width: 100%;
      height: auto;
    }
    & svg path {
      fill: #FFFFFF;
    }
  }
}
.focus-enabling-technologies {
  margin-top: 4em;
  margin-bottom: 4em;
  & .synthesis-icon {
    @include mq.for-tablet-portrait-up {
      margin-left: vars.$col-1;
      margin-right: vars.$col-1;
    }
    @include mq.for-tablet-landscape-up {
      margin-left: vars.$col-1;
      margin-right: 0;
    }
    & svg path {
      fill: #FFFFFF;
    }
  }
}
.focus-enabling-technologies-table {
  @include mixins.transparent-fade-out-bottom;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  @include mq.for-tablet-portrait-up {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: vars.$col-1;
    margin-right: vars.$col-1;
  }
  @include mq.for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: vars.$col-1;
    margin-right: vars.$col-1;
  }
  @include mq.for-desktop-up {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.focus-enabling-technologies-item,
.focus-enabling-technologies-table > p {
  margin: 0;
  padding: .5em 1em .5em 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  position: relative;
  font-size: 19px;
  @include mq.for-tablet-portrait-up {
    font-size: 17px;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 31px;
  }
  // &::after {
  //   content: '↙';
  //   font-family: "SyntheSans", sans-serif;
  //   position: absolute;
  //   transform: scaleX(-1);
  //   right: 0;
  //   top: .5em;
  // }
}
.focus-alignment-animation {
  overflow: visible;
  position: relative;
  height: 80vh;
  height: calc(var(--vh, 1vh) * 80);
  margin-top: 8em;
}
.focus-alignment-animation-headline {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 20em;
}
.focus-alignment-animation-polygons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  & .wp-block-image {
    margin: 0;
    position: relative;
    transform-origin: 50% 50%;
    flex-basis: 33.3%;
    & img, & svg {
      display: block;
      width: 66.6%;
      max-width: 200px;
      height: auto;
      margin: auto;
    }
  }
}