@use '../utilities/mq';
@use '../utilities/vars';
@use '../utilities/mixins';

.focus-page .entry-content {
  width: 100vw;
  overflow: hidden;
}
.focus-page h1 + p {
  padding-bottom: .5em;
}

.focus-protein-spectrum,
.focus-enabling-technologies-table,
.focus-howwedoit-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  max-width: 1100px;
  @include mq.for-tablet-portrait-up {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include mq.for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include mq.for-desktop-up {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  & .synthesis-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 1.5rem;
  }
  & p {
    margin: 0;
    padding: .5em 0;
    border-top: 1px solid;
  }
}

.focus-protein-spectrum-group {
  margin-bottom: 4em;
  @include mq.for-tablet-portrait-up {
    margin-bottom: 8em;
  }
}

.focus-protein-spectrum + h2 {
  margin-top: 4em;
}

.focus-protein-spectrum-column {
  flex-basis: calc(25% + 1em);
  padding: 0;
  @include mq.for-tablet-portrait-up {
    flex-basis: calc(15% + 2em);
  }
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  & .wp-block-image {
    width: 32px;
    margin-left: auto;
    margin-right: auto;
    @include mq.for-tablet-portrait-up {
      width: 45px;
    }
    @include mq.for-tablet-landscape-up {
      width: 75px;
    }
    & img, & svg {
      width: 100%;
      height: auto;
    }
    & svg path {
      fill: #FFFFFF;
    }
  }
}
.focus-enabling-technologies {
  margin-top: 4em;
  margin-bottom: 4em;
  & .synthesis-icon {
    height: 60px;
    margin-bottom: 1.5rem;
    @include mixins.default-page-margins;
    & svg path {
      fill: #FFFFFF;
    }
  }
}
.focus-enabling-technologies-table {
  @include mixins.transparent-fade-out-bottom;
}
.focus-alignment-animation {
  overflow: visible;
  position: relative;
  height: 40vh;
  height: calc(var(--vh, 1vh) * 40);
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  @include mq.for-tablet-landscape-up {
    height: 60vh;
  }
}
.focus-alignment-animation + .wp-block-group {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.focus-alignment-animation-headline {
    position: absolute;
    top: 25%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 0 vars.$gap-space;
    margin: 0 auto;
    width: 100%;
    max-width: 20em;
}
.focus-alignment-animation-polygons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  & .wp-block-image {
    margin: 0;
    position: relative;
    transform-origin: 50% 50%;
    flex-basis: calc(33.3%);
    & img, & svg {
      display: block;
      width: 66.6%;
      max-width: 200px;
      height: auto;
      margin: auto;
    }
  }
}
.focus-howwedoit-columns {
  & .wp-block-column {
    margin-left: 0;
  }
}