@use '../utilities/mq';
@use '../utilities/animations';
@use '../utilities/vars' as vars;
@use '../utilities/mixins';

.home .entry-content > :first-child {
  margin-top: 0;
}
.home .hero-home {
  margin: - vars.$gap-space;
  margin-bottom: vars.$gap-space;
  min-height: 100vh ;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;  
  padding: 4rem vars.$gap-space vars.$gap-space vars.$gap-space;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: vars.$synth-blue;
  color: white;
  text-align: center;
  // -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 95%);
  // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 95%);
  & .hero-bg-gradient {
    position: absolute;
    top: 0;
    bottom: -1px; //Chrome thinks 0 is -1...
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 95%);
    z-index: 0;
    pointer-events: none;
  }
  & h1 {
    margin: 0 auto 1em auto;
  }
  & h2, & p {
    max-width: 657px;
    margin: 1.5em auto 0 auto;
    @include mq.for-phone-only {
      font-size: 31px;
      margin-top: .75em;
    }
    & .intro-para {
  @include mq.for-phone-only {
    font-size: 26px !important;  
  }
  }
}
.home-synthesis-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  @include mq.for-tablet-portrait-up {
    min-width: 405px;
    max-width: 66.666%;
  }
  @include mq.for-tablet-landscape-up {
    max-width: 460px;
  }
  & figure {
    width: 26px;
    @include mq.for-tablet-landscape-up {
      width: 55px;
    }
    & img, & svg {
      width: 100%;
    }
    & svg path {
      fill:#FFFFFF;
    }
    & img {
      filter: saturate(0) brightness(100);
    }
  }
}
.home {
  & h1, & h2 {
    position: relative;
    margin-left: 0;
  }
  .wp-block-column {
    h1, h2, p {
      max-width: 100%;
    }
  }
  .scroll-section p {
    @include mq.for-tablet-portrait-up {
      margin-left: 0;
      // margin-right: 33.33%;
    }
  }
}
// Home Intro setup
.home {
  // & ul.menu li,
  // & .site-header .logo,
  // & .hero-home h1, 
  // & .hero-home p {
  //   opacity: 0;
  //   visibility: hidden;
  // }
  & .page-reveal--home {
    opacity: 0;
    background: rgba(0, 0, 0, 0) linear-gradient(vars.$synth-blue 0%, vars.$synth-blue 50%, transparentize(vars.$synth-blue, 1) 100%) repeat scroll 0% 0%!important;
    z-index: 6!important;
  }
}
// .hero-home .wp-block-video {
//   -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
//   mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
//   position: absolute;
//   top: - vars.$gap-space;
//   left: - vars.$gap-space;
//   right: - vars.$gap-space;
//   height: 100%;
//   overflow: hidden;
//   & video {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     min-width: 100%;
//     min-height: 100%;
//     width: auto;
//     height: 100%;
//     transform: translateX(-50%) translateY(-50%);
//     @media screen and (min-aspect-ratio: 16/9) {
//       height: auto;
//       width: 100%;
//     }
//   }
// }
