@use '../utilities/mixins';
@use '../utilities/mq';
@use '../utilities/vars' as vars;

.single-post {
  & .post {
    position: relative;
    top: 400px;
    margin-bottom: 400px;
    @include mq.for-tablet-portrait-up {
      top: 80vh;
      margin-bottom: 80vh;
    }
  }
  & .post-hero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    @include mixins.transparent-fade-out-bottom;
    height: 400px;
    @include mq.for-tablet-portrait-up {
      height: 80vh;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .entry-header {
    padding: 0 vars.$gap-space;
  }
  & .entry-meta {
    & .byline {
      line-height: 1;
      & .author {
        display: block;
      }  
    }
    & .posted-on {
      line-height: 1;
      & .updated {
        display: none;
      }
    }
    & a {
      text-decoration: none;
      pointer-events: none;
    }
  }
  & .entry-title {
    margin: .25em vars.$col-2 .25em 0;
  }
  & .entry-content {
    & p {
      font-size: 18px;
      line-height: 1;
      letter-spacing: .01em;
      @include mq.for-tablet-landscape-up {
        font-size: 22px;
        max-width: vars.$col-8;
      }
      & a {
        text-decoration: underline;
      }
      &.hero-quote {
        font-size: 31px;
        @include mq.for-tablet-landscape-up {
          font-size: 36px;
        }
      }
    }
    & > :first-child{
      margin-top: 2em;
    }
    & .wp-block-image {
      position: relative;
    }
    & > .wp-block-image {
      @include mq.for-tablet-landscape-up {
        margin-left: vars.$col-1;
        margin-right: vars.$col-2;
      }
    }
    & .wp-block-image figcaption {
      position: absolute;
      bottom: 0;
      right: 1em;
      text-align: right
    }
    & .wp-block-image img{
      width: 100%;
      @include mixins.transparent-fade-out-bottom;
    }
  }
  & .entry-footer {
    margin-top: 5em;
    font-size: 16px;
    @include mq.for-tablet-landscape-up {  
      font-size: 22px;
      margin-right: vars.$col-4;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    & .entry-meta {
      text-align: right;
      margin-bottom: 5em;
      @include mq.for-tablet-landscape-up {
        margin-bottom: 0;
      }
      @include mq.for-tablet-landscape-up {  
        text-align: left;
      }
    }
    & .social-share {
      & a {
        display: block;
        margin-bottom: .5em;
        text-decoration: none;
      }

    }
  }
}
.blog-image-columns-2 {
  @include mq.for-tablet-landscape-up {  
    margin-left: vars.$col-1;
    margin-right: vars.$col-3;
  }
  & .wp-block-column:not(:first-child) {
    @include mq.for-tablet-landscape-up {
      margin-left: vars.$gap-space;
    }
  }
}
.post-thumbnail {
  display: block;
  & img {
    width: 100%;
    @include mixins.transparent-fade-out-bottom;
  }
}
.post-nav {
  margin: 2em vars.$gap-space;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  @include mq.for-tablet-portrait-up {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  & img {
    @include mixins.transparent-fade-out-bottom;
  }
}
.post-nav-link {
  grid-row-start: 1;
  font-size: 48px;
  text-decoration: none;
  @include mq.for-tablet-portrait-up {
    grid-column-start: 2;
  }
}
.post-nav-thumbnail {
  grid-row-start: 2;
  @include mq.for-tablet-portrait-up {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
  }
}
.post-nav-back-btn {
  grid-row-start: 3;
  @include mixins.poly-btn('pink', 'fill');
  color: vars.$synth-blue;
  @include mq.for-tablet-portrait-up {
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: end;
  }
}