@use '../utilities/mq';
@use '../utilities/vars' as vars;

body:not(.home, .focus-page, .investments-page, .team-page),
.single-post {
  & h1, & h2, & h3, & p {
    @include mq.for-phone-only {
      padding: 0 vars.$gap-space;
    }  
  }
}
.single-post {
  & .entry-meta,
  & .entry-footer,
  & .entry-content {
    padding: vars.$gap-space;
    @include mq.for-tablet-portrait-up {
      margin-left: 15%;
      margin-right: 15%;
    }
    @include mq.for-tablet-landscape-up {
      margin-left: 18%;
      margin-right: 0;
    }
  }
  & .entry-title {
    padding: vars.$gap-space;
    margin-top: 150px;
  }
}