@use '../utilities/mq';

.team-page {
  & h1 {
    text-indent: 1em;
  }
  & > p,
  & .team-teammembers {
    @include mq.for-tablet-landscape-up {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}